li {
  height: 60px;
  border-top: 1px solid #c9c8c8;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

li:last-child {
  border-bottom: 1px solid #c9c8c8;
}

.left {
  display: flex;
  align-items: center;
}

.check-btn {
  margin-right: 30px;
  color: green;
}

.edit-btn{
  margin-right: 30px;
}

.delete-btn {
  color: red;
}

.check-btn:hover,
.edit-btn:hover,
.delete-btn:hover{
  cursor: pointer;
}

.is-completed {
  height: 35px;
  border-right: 3px solid red;
  border-radius: 50px;
  margin-right: 10px;
}

.is-ongoing {
  height: 35px;
  border-right: 3px solid rgb(0, 207, 0);
  border-radius: 50px;
  margin-right: 10px;
}
